//--- Variables
//--- Color Variables
$color-black: #000;
$color-white: #fff;
$color-dove-gray: #616161;
$color-silver: #bdbdbd;
$color-mine-shaft: #212121;

//--- Fonts Variables
$font-main: neue-haas-grotesk-display;
$font-medium: 500;
$font-semibold: 600;
